@media screen and (max-width: 506px){

        .header {
            padding-bottom: 0;
            .container {
                grid-template-columns: 1fr;
                .logo {
                    text-align: center;
                }
                .header__menu {
                    display: none;
                }
            }
        }
    }

@media screen and (max-width: 900px) {
    .order {
        padding-bottom: 80px;
        .container {
            .order__form {
                margin: 0 auto;
            }
            .bg_img {
                display: none;
            }
        }
    }
    
}