@media screen and (max-width: 506px){

        .header {
            padding-bottom: 0;
            .container {
                grid-template-columns: 1fr;
                .logo {
                    text-align: center;
                }
                .header__menu {
                    display: none;
                }
            }
        }
    }

