@import 'constants';

* {
    margin: 0;
    padding: 0;
}

body {
    color: $second-color-text;
    font-family: Nunito, sans-serif;
    // font-size: clamp(14px, 2vw, 20px);
    font-weight: 400;

    background-color: $main-color;
    // overflow-x: hidden;
}


.bottom_menu {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .close {
        font-size: 0;
        padding: 25px 25px 0 0;
        path {
            fill: $main-color-text;
        }
    }
    .menu__items {
        width: 65vw;
        padding: 20px 30px 30vh 0;
        box-sizing: border-box;

        list-style: none;
        .menu__item {
            margin-bottom: 30px;
            text-align: right;
            a{
                color: $main-color-text;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        } 
    }
}

.page {
    position: relative;
    right: 0;
    // display: none;
    box-shadow: -10px 0px 40px black;
    background-color: $main-color;
    .tongue {
        position: fixed;
        right: 0;
        top: 100px;
        z-index: 10;
        min-width: 50px;
        width: 50px;
        max-width: 230px;

        fill: #A62323;
        display: none;
    }
}

.header {
    padding: 24px 0 60px; 
    .container{
        display: grid;
        grid-template-columns: 1fr clamp(315px, 50%, 576px) 1fr;
        column-gap: 100px;
        align-items: center;
        .header__menu{
            .menu__items{
                width: 100%;
                display: flex;
                justify-content: space-between;

                list-style: none;
                .menu__item {
                    a {
                        color: $main-color-text;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        } 
    }
}

.main {
    padding: 60px 0;
    .container {
        width: clamp(290px, 60%, 748px);
        text-align: center;
        position: relative;
        z-index: 1;
        .main__title {
            color: $main-color-text;
            font-size: clamp(36px, 8vw, 96px);
            font-weight: 700;
            margin-bottom: 24px;
        }
        .main__text {
            font-size: clamp(14px, 2vw, 20px);
            margin-bottom: 72px;
        }
    }
}

.pizza {
    position: relative;
    height: calc(87vw + 100vw / -3.26);
    img {
        width: 100%;
        position: absolute;
        top: calc(100vw / -3.26);
        left: 0;
    }
}

.why_us {
    padding: 20px 0 80px;
    .container {
        .why_us__title {
            color: $main-color-text;
            text-align: center;
            font-size: clamp(28px, 6vw, 64px);
            font-weight: 700;
            margin-bottom: clamp(50px, 10vw, 96px);
        }
        .why_us__cards {
            display: flex;
            flex-wrap: wrap;
            column-gap: clamp(15px, 3vw, 48px);
            row-gap: 40px;
            justify-content: space-evenly;
            width: 95%;
            margin-left: 5%;
            .card {
                display: grid;
                grid-template-columns: max-content 1fr;
                column-gap: 24px;
                row-gap: clamp(5px, 1vw, 12px);
                max-width: 340px;
                width: clamp(230px, 40%, 368px);
                align-items: center;
                svg {
                    width: clamp(44px, 10vw, 88px);
                    height: clamp(44px, 10vw, 88px);
                }
                .card__title {
                    color: $main-color-text;
                    font-size: clamp(22px, 3vw, 32px);
                    font-weight: 700;
                }
                .card__text {
                    font-size: clamp(14px, 2vw, 20px);
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

.choose {
    padding: 80px 0;
    .container {
        .choose__title {
            color: $main-color-text;
            text-align: center;
            font-size: clamp(28px, 6vw, 64px);
            font-weight: 700;
            margin-bottom: clamp(40px, 10vw, 96px);
        }
        .choose__size {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: clamp(10px, 5%, 48px);
            margin-bottom: clamp(10px, 5%, 48px);
            label {
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }
                span{
                    display: inline-block;
                    padding: clamp(10px, 3vw, 14px) clamp(10px, 5vw, 48px);
                    border: 2px solid $main-color-text;
                    border-radius: 30px;
                    user-select: none;
    
                    color: $main-color-text;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input:checked+span {
                    background-color: $main-color-text;
                    color: $main-color;
                }
            }
        }
        .choose__cards {
            display: flex;
            justify-content: space-evenly;
            row-gap: 48px;
            column-gap: 30px;
            flex-wrap: wrap;
            .card {
                width: clamp(290px, 30%, 368px);
                img {
                    width: 100%;
                }
                .card__title {
                    color: $main-color-text;
                    text-align: center;
                    font-size: clamp(22px, 3vw, 32px);
                    font-weight: 700;
                    margin-bottom: 24px;
                }
                .card__ingridients {
                    display: flex;
                    justify-content: center;
                    column-gap: 12px;
                    margin-bottom: clamp(25px, 5vw, 48px);
                    img {
                        width: clamp(35px, 3vw, 44px);
                    }
                }
                .card__bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .card__price {
                        color: $main-color-text;
                        text-align: center;
                        font-size: clamp(22px, 3vw, 32px);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.order {
    padding: 80px 0 241px;
    .container {
        position: relative;
        .order__title {
            color: $main-color-text;
            text-align: center;
            font-size: clamp(28px, 6vw, 64px);
            font-weight: 700;
            margin-bottom: 24px;
        }
        .order__text {
            font-size: clamp(14px, 2vw, 20px);
            margin: 0 auto;
            margin-bottom: clamp(40px, 10vw, 96px);
            width: clamp(230px, 50%, 492px);
            text-align: center;
        }
        .order__form {
            width: clamp(290px, 50%, 368px);
            .input {
               height: 57px;
               width: 100%;
               display: grid;
               grid-template-columns:37px max-content 1fr;
               align-items: center;
               margin-bottom: 18px;

               position: relative;
               
               .right-pass, .left-pass {
                position: relative;
                overflow: hidden;
                height: 57px;
               }
                .left-pass::before {
                    content: '';
                    display: block;
                    width: 370px;
                    height: 53px;
                    border: 2px solid $main-color-text;
                    border-radius: 30px;
                    position: absolute;
                }
                .right-pass::before {
                    content: '';
                    display: block;
                    width: 370px;
                    height: 53px;
                    border: 2px solid $main-color-text;
                    border-radius: 30px;
                    position: absolute;
                    right: 0;
                }
                label {
                    border-bottom: 2px solid $main-color-text;
                    height: 55px;
                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $main-color-text;
                        transform: translateX(-100%);
                        position: relative;
                        right: -100%;
                        transition: all .3s;
                    }
                    span {
                        font-size: clamp(20px, 2vw, 20px);
                        padding: 0 10px;
                        position: relative;
                        top: 13px;
                        transition: all .3s;
                    }
                }
                input {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    transform: translate(-50%, -50%);
                    width: 74%;
                    background: transparent;
                    outline: none;
                    border: none;
                    border-radius: 30px;
                    color: $main-color-text;
                    font-size: 16px;
                    padding: 17.5px 48px;
                }
                input:focus ~ label, input:valid ~ label {
                    &::before {
                        width: 0;
                    }
                    span {
                        padding: 5px;
                        color: $main-color-text;
                        font-size: 15px;
                        top: -13px;
                    }
                }
            }
            .btn {
                width: 100%;
                
            }
        }
        .bg_img {
            width: clamp(100px, 60vw, 784px);
            position: absolute;
            top: 70%;
            right: 0;
            transform: translateY(-50%)
        }
    }
}




@import 'adaptive';